<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Se connecter</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
<form method="post" action="../../login.php">
    <div class="box">
        <div class="form">
            <h2>Se Connecter</h2>
            <div class="inputBox">
                <label for="nom">Nom d'utilisateur</label>
                <input type="text" id="nom" name="nom" required="required">
                <i></i>
            </div>
            <div class="inputBox">
                <label for="mdp">Mot de passe</label>
                <input type="password" id="mdp" name="mdp" required="required">
                <i></i>
            </div>
            <div class="links">
                <a href="#">Mot de passe oublié ?</a>
                <a href="create.html">S'inscrire</a>
            </div>
            <input type="submit" value="Login">
        </div>
    </div>

    <?php
</form>
</body>
</html>